body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #1f2937;
}

ul {
    padding: 0;
    margin: 0;
}

.header-content { /*add other elemets*/
    max-width: 1100px;
    margin: auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content > h1 {
    font-weight: 24px;
    color: #f9faf8;
}

.header-content > ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.header-content a {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}