:root {
    --background-dark: #1f2937;
    --title-light: #f9faf8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.header, .footer, .hero {
    background-color: var(--background-dark);
}


.header-content, .hero-content { /*add other elemets*/
    max-width: 1100px;
    margin: auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header-content > h1 {
    font-weight: 24px;
    color: var(--title-light);
    padding: 0 1rem;
}

.header-content ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.header-content a {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}

.hero-content {
    display: flex;
    justify-content: center;
    padding: 10rem 1rem;
    gap: 1rem;
}

.hero-content .title {
    color: var(--title-light);
    font-size: 48px;
    margin-bottom: 0.5rem;
}

.hero-content .text {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 1rem;
}

.hero-content .main-button {
    font-size: 18px;
    font-weight: bold;
    background-color: #3882F6;
    color: var(--title-light);
    padding: 0.5rem 1rem;
    width: 130px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}

.hero-content > .right {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 50%;
    height: 250px;
    padding: 1rem;
}