body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20rem;
    padding-right: 20rem;
}

header > h1 {
    font-weight: 2rem;
    color: #f9faf8;
}

header > ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

header a {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}