:root {
    --background-dark: #1f2937;
    --title-light: #f9faf8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.header, .footer, .hero {
    background-color: var(--background-dark);
}

.header-content, .hero-content, .reviews-content, .quote-content, .cta-content { /*add other elemets*/
    max-width: 1100px;
    margin: auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header-content > h1 {
    font-weight: 24px;
    color: var(--title-light);
    padding: 0 1rem;
}

.header-content ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.header-content a {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}

.hero-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    padding: 10rem 1rem;
    gap: 1rem;
}

.hero-content .title {
    color: var(--title-light);
    font-size: 48px;
    margin-bottom: 0.5rem;
}

.hero-content .text {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 1rem;
}


.hero-content .main-button {
    font-size: 18px;
    font-weight: bold;
    background-color: #3882F6;
    color: var(--title-light);
    padding: 0.5rem 1rem;
    width: 130px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}

.hero-content > .left {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-grow: 1;
    flex-basis: 25%;
    min-width: 300px;
}

.hero-content > .right {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 250px;
    padding: 1rem;
    color: #e5e7eb;
}

.reviews {
    padding: 4rem 1rem;
    padding-bottom: 6rem;
}

.reviews .title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin-bottom: 4rem;
}

.reviews .reviews-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.reviews .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

/* .reviews .card {
    width: 200px;
} */

.reviews .box {
    border: 0.3rem solid #3882F6;
    border-radius: 1rem;
    width: 200px;
    aspect-ratio: 1/1;
}

.reviews .text {
    text-align: center;
    /* margin-top: 0.5rem; */
    font-size: 18px;
    color: #1f2937;
    width: 200px;
}

.quote {
    background-color: #e5e7eb;
    padding: 8rem 1rem;
}

.quote-content {
    display: flex;
    justify-content: center;
}

.quote .text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    max-width: 90%;
}

.quote .author {
    align-self: flex-end;
    font-weight: bold;
}

.cta {
    padding: 6rem 1rem;
}

.cta-container {
    background-color: #3382f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 4rem 10%;
    border-radius: 12px;
}

.cta-container h2 {
    color: var(--title-light);
}

.cta-container p {
    color: #e5e7eb;
}

.cta-container button {
    color: var(--title-light);
    background-color: #3382f6;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.55rem 2rem;
    border: 0.15rem solid var(--title-light);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}