:root {
    --background-dark: #1f2937;
    --title-light: #f9faf8;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.header, .footer, .hero {
    background-color: var(--background-dark);
}


.header-content, .hero-content { /*add other elemets*/
    max-width: 1100px;
    margin: auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header-content > h1 {
    font-weight: 24px;
    color: var(--title-light);
}

.header-content ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.header-content a {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}

.hero-content {
    display: flex;
    justify-content: center;
    padding: 10rem 1rem;
    gap: 1rem;
}

.hero-content > .left + .right {
    flex-grow: 1;
}

.hero-content h1 {
    color: var(--title-light);
}

.hero-content p {
    color: #e5e7eb;
}

.hero-content > .right {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}